/* ANIMACION CORTINAS */
.open-left {
    animation: openLeft 1.8s ease forwards;
}
 
.open-right {
    animation: openRight 1.8s ease forwards;
}

@keyframes openLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes openRight {
    to {
        transform: translateX(100%);
    }
}

.fade-in {
    animation: fadeIn 1.2s ease forwards;
    opacity: 0;
}

.delay-2 {
    animation-delay: 1.2s;
}

.typing {
    overflow: hidden;
    border-right: 2px solid white;
    white-space: nowrap;
    width: 0;
    animation: typing 2.5s steps(30, end) forwards,
               blink .7s infinite;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes typing {
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
